body {
    background-color: #EBEBEC;
    color: #46494C;
    margin: 0;
    padding: 0;

}

.grid {
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: repeat(3, 100px);
    grid-gap: 1em;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #1985A1; */
    background-color: #026C7C;
    width: 100%;
  }

li {
    float: left;
}

li a {
display: block;
color: #DCDCDD;
text-align: center;
padding: 14px 16px;
text-decoration: none;
position: sticky;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #B81365;
}

/* https://coolors.co/ebebec-c5c3c6-46494c-4c5c68-1985a1 */

/* FORM STYLINGS */

#conceptsCovered:invalid {
    border: 2px solid #B81365;
}

#journalEntry:invalid {
    border: 2px solid #B81365;
}

#conceptsCovered:valid {
    border: 1px solid black;
}

#journalEntry:valid {
    border: 1px solid black;
}
