body {
    background-color: #EBEBEC;
    color: #46494C;
    margin: 0;
    /* padding-left: 2%;
    padding-right: 2%;
    width: 80%; */
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
}

nav {
    display: flex;
    align-content: space-around;
    width: 100%;
}

main {
    width: 75%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #B81365;
    margin: 1em 0;
    padding: 0;
}

fieldset {
    border-color: #026C7C;
    width: 40%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #1985A1; */
    background-color: #026C7C;
    width: 100%;
  }

li {
    float: left;
    padding-left: 70px;
}

li a {
display: block;
color: #DCDCDD;
text-align: center;
padding: 14px 16px;
text-decoration: none;
position: sticky;
padding-left: 50px;
padding-right: 50px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #B81365;
}

/* https://coolors.co/ebebec-c5c3c6-46494c-4c5c68-1985a1 */

.textarea {
    width: 50%;
}

#lowerForm {
    display: flex;
    justify-content: space-evenly;
}