* {
    font-size: 1.25rem;
}

body {
    background-color: rgb(255, 252, 248);
}

ul {
    display: flex;
    flex-direction: row wrap;
}

input,
select {
    background-color: rgb(255, 252, 248);
}

fieldset {
    display: flex;
    flex-direction: column;
    font-family: 'Thasadith', sans-serif;
}

.formHeader {
    font-family: 'Staatliches', cursive;
}
